<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <title>LA TORRE RETIRO</title>

    <!-- BOOSTRAP-4 CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
     integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
     crossorigin="anonymous">
    <!---
      <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    -->
    <!--- FONT AWESOME -->
    <!--- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    --> 
  <!--- FONT AWESOME 5 -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
    </script> 
  <!--- FONT OSWALD -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
  <!--- CUSTOM CSS -->
     <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <div class="container">
     <nav class="nav-main">
      <nav class="navbar navbar-dark bg-info navbar-expanded-xl fixed-top">
        <button class="btn btn-danger btn-lg" type="button" type="submint">
          <a href="/torre/snippet/<%= '81' %>" class="nav-link bg-danger text-light">
            <h3>Cafeteria</h3>
          </a>
        </button>
        <button class="btn btn-success btn-lg" type="button" type="submint">
          <a href="/torre/snippet/<%= '82' %>"  class="nav-link bg-success text-light">
            <h3>Bebidas</h3>
          </a>
        </button>
        <button class="btn btn-warning btn-lg" type="button" type="submint">
          <a href="/torre/snippet/<%= '83' %>" class="nav-link  bg-warning text-light">
            <h3>Comidas</h3>
          </a>
        </button>
        <button class="btn btn-secondary btn-lg" type="button" type="submint">
          <a href="/torre/snippet/<%= '84' %>" class="nav-link bg-secondary text-light">
            <h3>Postres</h3>
          </a>
        </button>
      </nav>
    </nav> 
    </div>
    <div class="container-fluid mt-10">
      <div class="col-sm-12">
        <button class="btn btn-danger btn-lg" type="button" type="submint">
          <a href="/torre/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                     
            <h6 class="text-light">LA TORRE RETIRO - av.Del Libertador 118 - Retiro -Bs.As.- Tel.4311-3515</h6>                                        
          </a>  
        </button>   
      </div>
    </div>
