          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '5' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> SANDWICHES            ____comidas_____05co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENTRADAS              ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENSALADAS ESPECIALES  ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '13' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> NUESTRA COCINA        ____comidas_____13co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '14' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PARRILLA              ____comidas_____14co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '15' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ACOMPANAMIENTOS       ____comidas_____15co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '17' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> AVES                  ____comidas_____17co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '19' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PASTAS  SALSAS        ____comidas_____19co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '21' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> RECARGOS              ____comidas_____21co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '27' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PIZZA A LA PIEDRA     ____comidas_____27co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '28' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> EMPANADAS Y TARTAS    ____comidas_____28co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
